<div id="about">
	<p>
&nbsp;&nbsp;推酷专注于IT领域的个性化内容推荐，希望为来到这里的朋友们打造独特的个人阅读空间。我们的初衷很简单（也很难）， 就是希望从每天产生的海量资讯中，挖掘出那些高质量的内容，并推荐给你最感兴趣的那一部分，使你每天能高效地阅读到自己喜欢的内容。 推酷目前提供的文章主要集中在科技、技术、设计、营销等方面，基本覆盖了IT人的阅读范围。我们也在尝试对丰富的微博内容做深入的挖掘， 使你能从繁杂的碎片内容海洋中解脱出来，去阅读到那些真正有趣的人和微博。

推酷希望向你呈现简单的阅读体验，为此我们做了大量工作。 我们收录了IT领域相关的大量国内外优秀的站点，其中很多是或高质量或平易近人的个人博客, 我们期望你拾到那些散落民间的璞玉珍珠。你可以关注感兴趣的站点，就像使用RSS阅读器一样，进行有针对性的阅读。

你也可以看到，我们通过主题来组织内容。我们提供的主题是很细粒度的， 你可以关注它们，并有针对性的进行详细的阅读。

对于每时每刻产生的新文章，我们通过算法进行自动地抓取和分析，从中挖掘出那些高质量的内容。 我们也会通过对你的关注行为、阅读行为、社交关系等进行大量分析，学习出你的兴趣偏好， 准实时地推荐给你喜欢的内容。

推酷现在已经开放注册，但它离我们想象中的美好还有很长的距离。我们还是个小团队，如果你有创业热情并热可我们的愿景， 可以移步这里，看看能不能加入我们把推酷做得更好，全职的兼职的实习的都欢迎。

关于推酷的更多信息和产品最新动态，可以移步到	gurudigger。 我们的微博：@推酷网，给个关注吧。  

关于推酷，我们想说的还有很多。我们热爱阅读热爱技术热爱用技术把阅读做得更美好的愿望。我们走过了一些艰难的时光， 我们也许还要走过更多艰难的时光。在追逐卑微的理想的路上，我们也曾彷徨，但却不曾停歇。 我们写着一行行通往彼岸的代码，也许有一天，它们能够闪光。		
	</p>	
</div>