
<div class="container-fluid">  
<div class="main-container">
<div class="top">
	<div class="left">	
		<div class="welcome">
			<div class="desc">
				<div>
			推酷是对个性化阅读的一次有趣的践行，希望能为来到这里的朋友打造独特的个人阅读空间。
			推酷目前专注于IT领域的内容推荐，会从每时每刻产生的众多的科技资讯、技术文章、产品设计等内容中， 
			利用智能算法，经过层层过滤筛选，准实时地推荐给你最感兴趣的内容。
				</div>
			</div>
		</div>	
	</div>
	<div class="right">		
		<div class="login_frm">
			<form action="http://www.tuicool.com/login" method="post" class="form-horizontal">
			  <div class="control-group" style="margin-bottom: 10px;">
				<label class="control-label" for="inputEmail">账号</label>
				<div class="controls">
				  <input type="email" id="inputEmail" name="email" placeholder="账号">
				</div>
			  </div>
			  <div class="control-group" style="margin-bottom:0;">
				<label class="control-label" for="inputPassword">密码</label>
				<div class="controls">
				  <input type="password" id="inputPassword" name="password" placeholder="密码">
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <label class="checkbox">
						<input type="checkbox" name="remember" value="1" checked="true"> 记住我
						<a href="http://www.tuicool.com/settings/missing_pwd" target="_blank">忘记密码?</a>
				  </label>
				  <button type="submit" class="btn btn-primary btn_login">登 录</button>
				  <a href="http://www.tuicool.com/invite/" class="btn">注册新用户</a>
				</div>
			  </div>
			</form>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="left">
		<div class="article_list">
			<h3><a href="http://www.tuicool.com/ah/">热门文章</a></h3>
				<div class="single">
					<div class="title"><a href="http://www.tuicool.com/articles/euAZba" target="_blank" title="糯米网将投5000万美元换三倍扩张规模">糯米网将投5000万美元换三倍扩张规模</a></div>				
					<div class="stamp">TechWeb 经营 RSS阅读  推荐时间:03-15 11:21</div>
				</div>	
		</div>
	</div>
	<div class="right">
		<div class="topics">
			<h3><a href="http://www.tuicool.com/topics">热门主题</a></h3>
			<div class="single">
				<a href="http://www.tuicool.com/topics/10000006" target="_blank">
					<img src="img/001.png" class="topic_img">	
					<div class="topic_title">社交网络</div>
				</a>
			</div>
		</div>
	</div>
</div>
</div>
</div>